.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
}
